<!doctype html>
<html>
<head>
	<style type="text/css">
	    #mynetwork {
	        width: 95%;
	        height: 500px;
	        border: 1px solid lightgray;
	    }
    </style>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
         var edges = JSON.parse('{{ result1 | tojson | safe }}');
    
    
    </script>
</head>

<body>
    
    <table border = 1>
       	<p> Résultat: </p>
  	</table>
    
    <ul>
        {% for o in result1 %}
        <li>{{ o }}</li>
        {% endfor %}
    </ul>
    
</body>