<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    </head>
    <body>
        <canvas id="chartjs-1" height="150px" width="850px" style="display: inline-block;"></canvas>
        <script>

            var label = JSON.parse('{{ result1 | tojson | safe }}');
            var dataLabel = JSON.parse('{{ result2 | tojson | safe }}');
            var data = JSON.parse('{{ result3 | tojson | safe }}');
            var backgroundColor = JSON.parse('{{ result4 | tojson | safe }}');
            var barType = JSON.parse('{{ result5 | tojson | safe }}');

            
            new Chart(document.getElementById("chartjs-1"),
            {  
               "type": barType,
               "data":{  
                  "labels": dataLabel,
                  "datasets":[  
                     {  
                        "label": label,
                        "data": data,
                        "fill":false,
                        "backgroundColor": backgroundColor,
                        "borderWidth":1
                     }
                  ]
               },
               "options":{  
                  "scales":{  
                     "yAxes":[  
                        {  
                           "ticks":{  
                              "beginAtZero":true
                           }
                        }
                     ]
                  }
               }
            });
        </script>
    </body>
</html>